.formContainer .header input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #000;
  width: 165px;
}

textarea {
  font-size: 16px;
  border: 2px solid #000;
}

.formContainer .header button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #0066ff;
  color: #fff;
  border: 2px solid #0066ff;
  transition: background-color 0.2s ease-in;
}

.formContainer .header button:hover {
  background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;
}

.formContainer .header .note {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;

}
.formContainer .header .note .note-container{
    color: #333;
    background-color: #f7e045;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}